.payment-self-info {
    font-size: 22px;
    font-weight: bold;
}

.inp-block-label {
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.inp-block-input {
    font-size: 18px;
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    padding-left: 15px;
}

.VAT-choice {
    margin-bottom: 20px;
}

.VAT {
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
    color: rgb(100, 100, 255);
}

.VAT:not(.VATactive):hover {
    color: blue;
    cursor: pointer;
    background-color: rgb(146, 231, 250);
    box-shadow: 0 0 20px 3px white inset;
}

.VATactive {
    color: black;
}

.get-file-button {
    width: 100%;
    max-width: 400px;
    height: 60px;
}

.clear-form {
    width: 150px;
    font-weight: bold;
    margin-left: 30px;
}

p {
    text-align: center;
}

input.ng-invalid.ng-touched {
    border-color: rgb(255, 82, 82);
    border-width: 2px;
}

input.ng-valid {
    border-color: rgb(71, 196, 71);
    border-width: 2px;
}

button:disabled {
    background-image: linear-gradient(to bottom right, white, rgb(177, 177, 177), white);
    color: rgb(99, 99, 99);
}

button:disabled:hover {
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .form-group {
        margin-left: 15px;
        width: 90%;
    }

    .inp-block-input {
        font-size: 15px;
    }
}